.index-section {
    background-color: #191919;
    padding: 10px;
    border-radius: 15px;
    margin-bottom: 10px;
}

.index-section-title {
    font-family: Ebrima;
    font-size: 24px;
    color: #b9bdcc;
}

.index-inner-section {
    background-color: #191919;
    text-decoration: none;
    display: flex;
    flex-flow: row;
    padding-bottom: 20px;
}

    .index-inner-section::-webkit-scrollbar {
        width: 0.7rem; /* Width of the scrollbar */
    }

    .index-inner-section::-webkit-scrollbar-thumb {
        background-color: #1e1f21; /* Color of the scrollbar thumb */
        border-radius: 6px; /* Border radius of the thumb */
    }

    .index-inner-section::-webkit-scrollbar-track {
        background-color: #191919; /* Color of the scrollbar track */
    }

.block-text {
    color: #7b829d;
}

.course-block {
    width: 200px;
    height: 133px;
    background-color: #242629;
    background-repeat: no-repeat;
    background-size: 200px 100px;
    border-radius: 10px;
    position: relative;
    display: inline-block;
    text-align: start;
    margin-right: 20px;
}

.course-block-text {
    color: #858caa;
    font-family: Ebrima;
    font-weight: normal;
    font-size: 18px;
    position: relative;
    top: 78%;
    margin-left: 0.5rem;
}

.welcome-sign {
    color: #b8bcca;
    font-size: 36px;
}

.learn-button {
    height: 172.9px !important;
    width: 50px;
    background-color: #242629;
    color: #191919;
    border-radius: 5px;
    text-decoration: none;
    display: flex;
    align-content: center;
    justify-content: center;
}

    .learn-button:hover img {
        filter: drop-shadow(0 0 2px rgba(78, 171, 185, 0.3));
        transition: all 0.1s;
    }

    .learn-button:hover {
        box-shadow: inset 0 0 5px 0.01px #2e3034;
        transition: all 0.1s;
    }

.current-course-block {
    height: 172.9px;
    width: 260px;
    background-size: 260px 130px;
    margin-right: 0;
    text-align: center;
    fill: none;
    text-decoration: none;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(186, 190, 204, 0); /* Initial transparent overlay color */
    transition: background-color 0.3s ease; /* Smooth transition */
    transition: all 0.3s ease-in-out;
    border-radius: 9px;
    color: #babecc;
    text-align: center;
    line-height: 172.9px;
}

.overlay-text {
    opacity: 0;
    transition: all 0.3s ease-in-out;
    font-size: 20px;
}

.current-course-block:hover .overlay {
    background-color: #222326;
}

.current-course-block:hover .overlay-text {
    opacity: 1;
}

.goicon {
    width: 70%;
    height: auto;
    margin-bottom: 5px;
}

.course-link {
    text-decoration: none;
    background-color: #242629;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-flow: row;
    width: 100%;
    transition: background-color 0.2s;
}

    .course-link:hover {
        background-color: #222326;
    }

.level-bar-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 20rem;
    text-align: center;
    display: flex;
    flex-flow: column;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.level-bar {
    width: 100%;
    height: 10px;
    background-color: #191919;
    border-radius: 5px;
    overflow: hidden;
}

.fill-level {
    height: 100%;
    background-color: #4eabb9; /* Fill color for the level bar */
}

.days-of-week {
    display: flex;
    gap: 1rem;
    transition: border-color 0.2s ease-in-out;
}

.days-of-week-supplementary {
    border-bottom: solid;
    border-color: #1e1e20;
    border-radius: 5px;
    padding-bottom: 25px;
}

    .days-of-week-supplementary:hover {
        border-color: #242629;
    }

.day-box {
    display: flex;
    width: 2.4rem;
    height: 2.4rem;
    justify-content: center;
    padding: 10px;
    border-radius: 5px;
    border: solid;
    background-color: #191919;
    border-color: #242629;
    border-width: 3px;
    color: #babecc;
    font-size: 14px;
    position: relative;
}

    .day-box span {
        position: absolute;
        top: 115%;
    }

    .day-box:hover {
        border-color: #222326;
        color: #9496a2;
    }

.no-performance {
    border-color: #1e1e20;
    color: #57595e;
}

    .no-performance:hover {
        border-color: #1d1e1f !important;
        color: #4d4e53 !important;
    }

.goal-completed {
    background-color: #19231d !important;
    border-color: #19231d;
    background-image: url("images/checkmark.svg");
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
}

    .goal-completed span {
        background-color: #242629;
        border-radius: 5px;
        padding-left: 5px;
        padding-right: 5px;
    }

    .goal-completed .current-day-circle {
        top: 190% !important;
        z-index: 1;
    }

    .goal-completed:hover {
        background-color: #19211c;
        border-color: #19211c;
    }

.current-day-circle {
    width: 4px;
    height: 4px;
    background-color: #babecc;
    border-radius: 50%;
    position: absolute;
    top: 175%;
}

#new-words {
    display: none;
    margin-left: -10px;
}

#cards-today:hover + #new-words {
    display: block; /* Show "new-words" when hovering over "cards-today" */
    position: absolute;
    background-color: #1e1e20; /* Background color for the drop-down */
    border-radius: 5px;
    padding: 10px;
    z-index: 1; /* Ensure the drop-down is on top of other content */
}
