@model List<SpeakUp.ViewModels.DeckViewModel>

<style>
	th {
		color: white;
	}

	td {
		color: white;
	}

	.course-block {
		width: 400px;
		height: 266px;
		background-color: #242629;
		background-repeat: no-repeat;
		border-radius: 15px;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: flex-end;
		margin-right: 20px;
		margin-bottom: 20px;
	}

	.courses-container {
		display: flex;
		flex-flow: wrap;
		margin: 2rem;
		width: stretch;
	}

	.course-block-options {
		position: absolute;
		left: 5%;
		bottom: 9%;
		opacity: 0; /* Initially set opacity to 0 */
		transition: opacity 0.3s;
	}

		.course-block-options img {
			width: 20%;
			height: auto;
		}

	.course-block:hover .course-block-options {
		opacity: 1;
	}

	.course-block-text {
		color: #b6bac8;
		font-family: Ebrima;
		font-weight: normal;
		font-size: 24px;
		position: absolute;
		bottom: 1%;
	}

	.deck-wrapper {
		position: relative;
		z-index: 10;
	}

	.dropdown-menu {
		position: absolute;
		background-color: #1e1f21;
		border-radius: 5px;
		padding: 5px;
		min-width: 100px;
		opacity: 0;
		pointer-events: none;
		z-index: 1;
	}

	.course-block:hover .dropdown-menu {
		opacity: 1;
		pointer-events: auto;
	}

	.dropdown-menu a {
		color: #878eab;
		display: block;
		text-decoration: none;
		padding: 5px;
		border-radius: 5px;
	}

		.dropdown-menu a:hover {
			background-color: #212325;
		}

	.item-description {
		color: #7b829d;
		overflow-wrap: break-word;
		position: absolute;
		top: 5%;
		left: 50%;
		transform: translate(-50%, 0);
	}

	.decks-courses-wrapper {
		display: flex;
		flex-direction: column;
		background-color: #191919;
		border-radius: 10px;
		height: 50rem;
		margin-top: 3rem;
	}

</style>

<body>
	<div class="decks-courses-wrapper">
		<input type="text" class="search-bar" id="searchInput" placeholder="Search Official Courses..." />
		<div class="courses-container">
			@foreach (var item in Model)
			{
				<a asp-controller="Home" asp-action="AddCourse" asp-route-id="@item.Id" class="deck-wrapper" style="cursor:pointer;">
					<div class="course-block course-filter" data-course-name="@item.DeckName" style="background-image: url('@Url.Content("~/deckimages/" + item.DeckImage)');">
						<p class="course-block-text">@item.DeckName</p>
					</div>
				</a>
			}
		</div>
	</div>
</body>

<script>
	const searchInput = document.getElementById('searchInput');
	const courseFilters = document.querySelectorAll('.course-filter');

	searchInput.addEventListener('input', () => {
		const searchText = searchInput.value.toLowerCase();

		courseFilters.forEach(courseFilter => {
			const courseName = courseFilter.getAttribute('data-course-name').toLowerCase();
			const isVisible = courseName.includes(searchText);
			courseFilter.style.display = isVisible ? 'block' : 'none';
		});
	});
</script>